*.com
*.pyc
*.o
*.so
*.d

*.root
*.png
*.eps
*.pdf
*.zip
*.tgz
*.txt
*.pkl
*.pck
*AutoDict*
*CVS*
.#*
*temp*

*.history
*.bk
*.swp
*nohup.out
*__afs*
*callgrind*
aTGCRooStats/run_*
aTGCRooStats/root_*
multicrab_*

mergeJobs.sh
submitJobs.sh
.todo
