# section for multicrab: now has just the template crab.cfg, but more
# keys might appear in the future
[MULTICRAB]
cfg=crab.cfg


[COMMON]
CMSSW.output_file=analysis.root
CMSSW.total_number_of_lumis  = -1


[DATA_2011A_1]
CMSSW.datasetpath            = /TauPlusX/Run2011A-May10ReReco-v1/AOD
CMSSW.lumi_mask              = may10Tau.json
CMSSW.pset                   = ET.py
CMSSW.lumis_per_job          = 30


[DATA_2011A_2]
CMSSW.datasetpath            = /TauPlusX/Run2011A-PromptReco-v4/AOD
CMSSW.lumi_mask              = r2011.json
CMSSW.pset                   = ET.py
CMSSW.lumis_per_job          = 30

[DATA_2011A_3]
CMSSW.datasetpath            = /TauPlusX/Run2011A-05Aug2011-v1/AOD
CMSSW.lumi_mask              = aug5.json
CMSSW.pset                   = ET.py
CMSSW.lumis_per_job          = 30

[DATA_2011A_4]
CMSSW.datasetpath            = /TauPlusX/Run2011A-03Oct2011-v1/AOD
CMSSW.lumi_mask              = r2011.json
CMSSW.pset                   = ET.py
CMSSW.lumis_per_job          = 30


[DATA_2011B_1]
CMSSW.datasetpath            = /TauPlusX/Run2011B-PromptReco-v1/AOD
CMSSW.lumi_mask              = r2011.json
CMSSW.pset                   = ET.py
CMSSW.lumis_per_job          = 40




